/* References https://github.com/beforesemicolon/BFS-Projects/tree/audio-player-tag */

.audio-bar {
    background: black;
    display: flex;
    align-items: center;
}

#playBtn, .volume-bar {
    width: 30px;
    min-width: 30px;
    height: 30px;
}

#playBtn{
    text-indent: -9999px;
    background: url("audio-icons.png") 0 center/500% 100% no-repeat;
    appearance: none;
    border: none;
    overflow: hidden;
}

#playBtn.playing {
    background: url("audio-icons.png") 25% center/500% 100% no-repeat;
}

.volume-bar {
    background: url("audio-icons.png") 100% center/500% 100% no-repeat;
    position:relative;
}

.volume-slider {
    display: none;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-550%) translateX(63%) rotate(270deg);  
    transform-origin: center;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.volume-bar:hover .volume-slider {
    display: block;
}

.progress-indicator {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.duration, .current-time {
    position: relative;
    z-index: 0;
    color: #ffffff;
    font-size: 73%;
}

.duration {
    margin-left: 2px;
    margin-right: 5px;
}

.duration::before {
    content: '/';
    color: #ffffff;
    display: inline-block;
    margin-right: 2px;
}

.progress-bar {
    position: absolute;
    width: 87%;
    height: 100%;
    overflow: hidden;
    transform: translateX(-15%);
}

.captions {
    width: 30px;
    height: 30px;
    background: url("closed-captions.png") 0 center no-repeat;
    background-size: contain; 
    background-position: center; 
}

.speed-adjust {
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-speed {
    position: relative;
    text-align: center;
    box-shadow: none;
    outline: none;
    border-width: 0;
    background: none;
    color: #ffffff;
    font-size: 70%;
    font-weight: bold;
}
