/* custom audio playback bar */
.audio-player {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 15px; 
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;

    position: absolute;
    bottom: 50px;
}

.seekBar {
    flex: 1;
    cursor: pointer;
}

#volumeBtn{
    position: relative;
}

.volumeControl {
    width: 100px;
    cursor: pointer;
    position: absolute;
    /* make the volume control bar to show upwards */
    rotate: 270deg;
    right: 60px;
    bottom: 90px;
}

.playbackSpeed {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* background: white; */
    cursor: pointer;
    font-size: medium;
}

.timeDisplay{
    font-size: medium;
}

.hidden {
    display: none;
}

.pointer{
    cursor: pointer; 
}

.forward, .backword{
    width: 23px;
}