.right-arrow{
    width:22px;
    position: fixed; 
    bottom:1rem;
    left:1rem;
}

.preview-slider {
    position: fixed;
    top:0;
    bottom: 3rem;
    left: 0;
    width: 254px;
    height: 90%;
    overflow-y: scroll;
    background-color: #f5f5f5;
    padding-left: 1rem;
    align-items: center;
    z-index: 1000;
}

.thumbnail-wrap{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 95%; 
    height: 20%;
    margin-bottom: 10px;
}   

.thumbnail-number{
    margin-right: 0.5em;
    font-size: 20px;
}

.thumbnail {
    /* width: 95%; */

    cursor: pointer;
    background-color: white;
    aspect-ratio: 1.1 / 1;
    position: relative;

    /* transform: scale(0.4); */
    transform-origin: top left;
}

.thumbnail:hover{
    border: 2px solid grey; 
    border-radius: 8px;
}

.thumbnail.highlight {
    border: 2px solid #1240FA; /* Highlight style */
    border-radius: 8px;
}

button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

/* .preview-slide {
    transform: scale(0.2);
    transform-origin: top left;
    width:auto;
} */


/* controlling responsiveness for the preview of each slides */
/* 
.thumbnail h1 {
    font-size: clamp(0.25rem, 2vw, 1rem);
    margin-bottom: 1rem;
  }


.thumbnail h2,  .thumbnail h3{
    font-size: clamp(0.125rem, 2vw, 0.5rem);
    margin-bottom: 1rem;
  }


.thumbnail p, .thumbnail li {
    font-size: clamp(0.125rem, 1vw, 0.25rem);
    max-width: 80%;
  }

  .thumbnail ul {
    list-style-type: disc;
    text-align: left;
    padding: 0.6rem;
  }
 */


