/* Inspired by https://yihui.org/en/2023/09/snap-slides/ */

*, *:before, *:after {
    box-sizing: inherit;
}

.slide {
    padding: 0.5em;
    position: relative;
    min-height: 100vh;
    scroll-snap-align: start;
}

.slide > h2, .slide > h3 {
    margin-top: unset;
}

.footer {
    opacity: .5;
    position: absolute;
    /* change the location */
    top: 0;
    right: 0;
}

.overview {
    font-size: 1em;
}

.overview .slide {
    min-height: unset;
    scroll-snap-align: unset;
}

.overview .slide-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.overview .slide-container .slide {
    width: var(--slide-width);
    border: 1px dotted #c0c0c0;
    margin-bottom: 0.5em;
}

html {
    scroll-snap-type: y mandatory;
}

html:fullscreen::-webkit-scrollbar {
    display: none;
}

html:fullscreen {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    max-width: 60rem;
    margin: auto;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 175%;
    border: 1px solid lightgray;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
}

pre code {
    display: block;
    overflow-x: auto;
}

img[src$=".svg"] {
    transform: scale(1.3);
    margin-top: 5%;
    margin-bottom: 5%;
}

span.control-play {
    padding: 0.25rem;
    margin-right: 0.5rem;
    border: solid 1px #c0c0c0;
}

span.control-pause {
    padding: 0.25rem;
    margin-right: 0.5rem;
    border: solid 1px #c0c0c0;
}

/* custom audio playback bar */
.audio-player {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 15px; 
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;

    position: absolute;
    bottom: 50px;
}

.seekBar {
    flex: 1;
    cursor: pointer;
}

#volumeBtn{
    position: relative;
}

.volumeControl {
    width: 100px;
    cursor: pointer;
    position: absolute;
    /* make the volume control bar to show upwards */
    rotate: 270deg;
    right: 60px;
    bottom: 90px;
}

.playbackSpeed {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* background: white; */
    cursor: pointer;
    font-size: medium;
}

.timeDisplay{
    font-size: medium;
}

.hidden {
    display: none;
}

.pointer{
    cursor: pointer; 
}
