.autoplay-btn {

    position: fixed;
    top: 30px;
    right: 3%;
    z-index: 99999;
    cursor: pointer;
}

.autoplay-btn input {
    display: none;
}

.slider {
    position: relative;
    cursor: pointer;
    background-color: rgb(61, 61, 61);
    transition: 0.4s;
    border-radius: 34px;
    width: 54px;
    height: 28px;
}

.slider:before {
    position: absolute;
    content: "Off";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #FFF;
    transition: 0.4s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #9a9a9a;
  }
  
  input:checked ~ .slider {
    background-color: rgb(47, 106, 255);
  }
  
  input:checked ~ .slider:before {
    transform: translateX(26px);
    content: "On"
  }

  .autoplay-btn-wrapper {
    display: flex;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
  }

  .autoplay-text {
    margin-right: 10px;
    font-size: 24px;
    color: rgb(36, 36, 36);
  }

  .autoplay-btn-wrapper.hide{
    opacity: 0;
}

#countdown{
    font-size: 90px;
    position:fixed; 
    z-index: 99999;
    top: 40%; 
    left: 45%;
    color: #333;
    animation: fade 1s ease-in-out;

    width: 150px;           
    height: 150px;         
    background-color: rgba(140, 140, 140, 0.3);
    border-radius: 50%;    

    display: flex;          
    justify-content: center;
    align-items: center;   
}


#countdown.none{
    display: none;
}